{
  "Kestrel:Certificates:Development:Password": "your-dev-cert-password",
  "Auth:ExternalProviders:0:ClientId": "your-google-client-id.apps.googleusercontent.com",
  "Auth:ExternalProviders:0:ClientSecret": "your-google-client-secret",
  "Auth:ExternalProviders:1:ClientId": "changeme",
  "Auth:ExternalProviders:1:ClientSecret": "your-keycloak-client-secret",
  "Auth:ExternalProviders:2:ClientId": "your-microsoft-application-client-id",
  "Auth:ExternalProviders:2:ClientSecret": "your-microsoft-client-secret"
}
