{
  "ConnectionStrings:DefaultConnection": "Host=localhost;Database=ChangeMe;Username=postgres;Password=postgres",
  "AuthOptions:Jwt:SigningKey": "Development-Signing-Key-For-Jwt-Needs-32-Characters",
  "InitialAdministratorOptions:Email": "admin@example.local",
  "InitialAdministratorOptions:Password": "admin123",
  "EmailOptions:Username": "",
  "EmailOptions:Password": ""
}
